# ignore ubuntu folder for git

ubuntu/
ubuntu20-04/.env
ubuntu20-04/db/
ubuntu20-04/html/
ubuntu20-04/flexisip/
ubuntu20-04/docker_files/redis/
ubuntu20-04/nginx/
ubuntu20-04/etc/
ubuntu22-04/.env
ubuntu22-04/db/
ubuntu22-04/flexisip-account-manager/
ubuntu22-04/redis/
ubuntu22-04/nginx/
ubuntu22-04/letsencrypt/
ubuntu22-04/flexisip_conf/
ubuntu22-04/log/
ubuntu22-04/xmlrpc/
ubuntu22-04/linphone/
ubuntu22-04/flexisip-http-file-transfer-server/
