[mysqld]

# copied from mariadb container /etc/mysql/mariadb.conf.d/50-server.cnf

key_buffer_size        = 64M
max_allowed_packet     = 128M
thread_stack           = 192K
thread_cache_size      = 8
# This replaces the startup script and checks MyISAM tables if needed
# the first time they are touched
myisam_recover_options = BACKUP
max_connections        = 100
table_cache            = 64
